style
* {
  box-sizing: border-box;
}

/* Estilo do body */
body {
  font-family: Arial;
  margin: 0;
  padding: 0;
}

/* Heade title */
.header {
  padding: 60px;
  text-align: center;
  background: #07705b;
  color: white;
}

/* Estilo navegação superior */
.navbar {
  display: flex;
  background-color: #333;
}

/* estilo da barra de links, a cor das letras */
.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

/* Muda a cor do hover */ /* Hover = Quando passa o mouse em cima das opções */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Container coluna */
.row {  
  display: flex;
  flex-wrap: wrap;
}

/* Cria duas colunas uma do lado da outra */
/* Barra lateral, coluna esquerda, a que fala dos beneficios e sobre o bpk */
.side {
  flex: 30%;
  background-color: #cacaca;
  padding: 0;
}

/* Coluna principal */
.main {
  flex: 70%;
  background-color: #f1f1f1;
  padding: 0;
}
/* Fake imagem, Alguém adiciona imagem aqui pelo amor de deus */
.row.side.fakeimg {
  /*caso não tenha imagem, aparece essa cor (na teoria) */
  background-color: #aaa;
  width: 200px;
  padding: 0;
}

/* Footer */
.footer {
  padding: 20px;
  text-align: center;
  background: #ddd;
}

/* Layout responsivo - quando a tela tiver menos de 700px de largura, faça com que as duas colunas se empilhem uma sobre a outra em vez de uma ao lado da outra */

/* Basicamente um if else do código */

/*da pra mudar a cor de um elemento (como no background-color blue aqui que altera a barra de links pra azul */
@media screen and (max-width: 700px) {
  .row, .navbar {   
    flex-direction: column;
    background-color: blue; /*deixa a coluna lateral e a principal com a mesma cor pra ficar bonitinho */
    
  }
  .row, .side{
    background-color: #f1f1f1
  }
}
.row .side .fakeimg1
{
    
    height: 10%px;
    width: 100%;

}

