.main {
    background: url("../img/pre-clube/pre-clube-background.png") no-repeat 0 0;
    background-size: cover;
  }

  .main img {
    min-width: 100%;
    transform: translate(-22%, 7%);
  }
.main-title {
  margin: 150px 0 50px 0;
}
.course {
  background-color: #397DC9;
  background-size: cover;
}

.area {
  background-color: #1A4789;
}
.card-area {
  background-color: #397DC9;
}
.area-title {
  color: #ffffff;
}
.area p {
  color: #ffffff;
}
.card {
  background-color: #397DC9;
}

.teacher {
  background-color: #397DC9;
}

.teacher p,
h3 {
  color: #ffffff;
}

@media only screen and (max-width: 992px) {
  .main img {
    max-width: 100%;
    transform: translate(-5%, 7%);
  }
}

